  <div id="blog-menu" class="fixed-menu">
    <div class="inner">
      <a href="/tag/event">{{t "category.event"}}</a> |
      <a href="/tag/discuss">{{t "category.discuss"}}</a> |
      <a href="/tag/material">{{t "category.material"}}</a> |
      <a href="/tag/tool">{{t "category.tool"}}</a> |
      <a href="/page/1">{{t "category.all"}}</a>
      <br/>
    </div>
  </div>