  <div id="blog-menu" class="fixed-menu">
    <div class="inner">
      <a href="/tag/event">{{t "blog.tag.events"}}</a> |
      <a href="/tag/discuss">{{t "blog.tag.discuss"}}</a> |
      <a href="/tag/material">{{t "blog.tag.materials"}}</a> |
      <a href="/tag/tool">{{t "blog.tag.tools"}}</a> |
      <a href="/page/1">{{t "blog.tag.all"}}</a>
      <br/>
    </div>
  </div>