  
  <header class="header-blog-menu scroll-to-fixed-fixed">
    <ul id="navbar">
      <li><a class="to-anchor" href="{{siteurl}}/#the-project">{{t 'header.project'}}</a></li>
      <li><a class="to-anchor" href="{{siteurl}}/#the-phases">{{t 'header.phases'}}</a></li>
      <li><a class="to-anchor" href="{{siteurl}}/#the-tools">{{t 'header.tools'}}</a></li>
      <li><a class="to-anchor" href="{{siteurl}}/#the-network">{{t 'header.network'}}</a></li>
      <li><a class="to-anchor" href="{{siteurl}}/#faq">{{t 'header.faq'}}</a></li>
      <li><a class="to-anchor active" href="{{siteurl}}/#the-blog">{{t 'header.blog'}}</a></li>
      {{#if_locale "en"}}
      <li><a class="to-anchor" href="{{siteurl}}/lang/fr" title="{{t 'header.to-french.short'}}">{{t 'header.to-french'}}</a></li>
      {{else}}
      <li><a class="to-anchor" href="{{siteurl}}/lang/en" title="{{t 'header.to-english.short'}}">{{t 'header.to-english'}}</a></li>
      {{/if_locale}}
    </ul>
    <div style="clear:both"></div>
  </header>

  <div id="blog-secondary-menu" class="fixed-menu" >{{! actually this menu is just a clone and it should be replaced}}
    <div class="inner">
      <div id="access">
        <a class="button" href="{{baseurl}}/book?lang={{getlocale}}">{{t 'join the inquiry'}}</a>
      </div>
      <div id="logo">
        <a class="to-anchor" href="{{siteurl}}/#introduction"><img src="/images/aime-logo.svg"/></a>
      </div>
      <div id="contacts">
        <div class="left"><a class="button" href="mailto:contact@modesofexistence.org"><i class="fa fa-envelope"></i></a></div>
        <div class="separator">|</div>
        <div class="right"><a class="button" href="http://twitter.com/AIMEproject"><i class="fa fa-twitter"></i></a></div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>

  <section style="margin-top: 110px;">
    <h1>The blog</h1>
  </section>
  <div id="blog-categories-menu" class="fixed-menu">
    <div class="inner">
      
      <a href="/tag/event" class="{{#if_eq tag compare="event"}}active{{/if_eq}}">{{t "blog.tag.events"}}</a> |
      <a href="/tag/discuss" class="{{#if_eq tag compare="discuss"}}active{{/if_eq}}">{{t "blog.tag.discuss"}}</a> |
      <a href="/tag/material" class="{{#if_eq tag compare="material"}}active{{/if_eq}}">{{t "blog.tag.materials"}}</a> |
      <a href="/tag/tool" class="{{#if_eq tag compare="tool"}}active{{/if_eq}}">{{t "blog.tag.tools"}}</a> |
      <a href="/page/1" class="{{#unless_in tag compare="material,event,discuss,tool"}}active{{/unless_in}}">{{t "blog.tag.all"}}</a>
      <br/>

    </div>
    <div class="shadow"></div>
  </div>
 
<!--
<header class="site-header"{{#if @blog.cover}} style="background-image: url('{{@blog.cover}}');"{{/if}}>

	<a href="/" title="Home"><img width="60" height="60" src="{{#if @blog.logo}}{{@blog.logo}}{{else}}/images/logo@2x.png{{/if}}" title="{{@blog.title}}" /></a>
	{{#if @blog.title}}<h1><a href="/" title="{{@blog.title}}">{{@blog.title}}</a></h1>{{/if}}
	{{#if @blog.description}}<h2>{{@blog.description}}</h2>{{/if}}

</header>
-->