{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<!-- article class="single-article {{post_class}}" -->

    <!-- header>

    	<span class="published_at">{{date published_at format="DD MMMM YYYY"}} by {{author.name}} {{#if tags}}on {{tags separator=" | "}}{{/if}} </span-->

    	<!-- h1><a href="{{url}}" title="{{title}}">{{title}}</a></h1 -->

    <!-- /header -->

    <section class="post">
      <h2 style="margin-left:40px; margin-right:40px"><a href="{{url}}" title="{{title}}">{{{aime_title}}}</a></h2>
      <div class="published_at">{{date published_at format="DD MMMM YYYY"}}</div>
      <div class="content">
    	{{aime_content}}
      </div>
      <div id="disqus_thread"></div>
        <script type="text/javascript">
           var disqus_shortname = 'aimeproject'; // required: replace example with your forum shortname
           var disqus_identifier = '{{id}}'; // make sure to use the post.id as an identifier, otherwise disqus will use the pages url per default, which might be problematic...

           /* * * DON'T EDIT BELOW THIS LINE * * */
           (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>

    
<!-- /article-->

<!-- aside>
	<img src="{{author.image}}" title="{{author.name}}" />
	<p>{{author.bio}}</p>
</aside -->

{{/post}}