

{{#if pagination.prev}}
<div id="nav-to-previous-page" class="nav-to-previous">
  <a href="{{siteurl}}/page/{{pagination.prev}}" title="{{t "page.previous"}} {{pagination.prev}}">
    <i class="fa fa-angle-left"></i>
  </a>
</div>
{{/if}}

{{#if pagination.next}}
<div id="nav-to-next-page" class="nav-to-next">
  <a href="{{siteurl}}/page/{{pagination.next}}" title="{{t "page.next"}} {{pagination.next}}">
    <i class="fa fa-angle-right"></i>
  </a>
</div>
{{/if}}