  <div id="secondary-menu" class="fixed-menu">
    <div class="inner">

      <div class="access thetext">
        <a class="button" href="{{inquiryurl}}?lang={{getlocale}}" target="_blank">{{t 'access text'}}</a>
      </div>

      <div id="logo">
        <a class="to-anchor" href="#introduction"><img src="/images/aime-logo.svg"/></a>
      </div>

      <div class="access thecrossings">
        <a class="button" href="{{crossingsurl}}/#/{{getlocale}}" target="_blank">{{t 'access crossings'}}</a>
      </div>
            
    </div>
    <div class="shadow"></div>
  </div>