
<section>
  <div class="summary">
    <ul>
      {{#split_each "why-15-modes,kind-of-contribution,whatdata,ant,scientists,system,entities,power,modes,guide"}}
      <li><a class="to-anchor" id="to-faq--{{this}}" href="#faq/{{this}}">{{{aime_t "faq.%s.question.short" this}}}</a></li>
      {{/split_each}}
    </ul>
  </div>
  <a class="anchor" id="faq"></a>
  {{#split_each "why-15-modes,kind-of-contribution,whatdata,ant,scientists,system,entities,power,modes,guide"}}
  

  <div class="part">
    <a class="anchor" id="faq--{{this}}" name="faq/{{this}}"></a>
    <h2>
      {{{aime_t "faq.%s.question" this}}}
    </h2>
    <div class="content">
      <p>
       {{{aime_t "faq.%s.question.content" this}}}
      </p>
    </div>
  </div>
  <div class="middot">&middot;</div>
  {{/split_each}} 
</section>