
<section>
  <div class="summary">
  <ul>
    <li><a class="to-anchor" id="to-the-network--team" href="#the-network/team">{{{aime_t "network.summary.team"}}}</a></li>
    <li><a class="to-anchor" id="to-the-network--mediators" href="#the-network/mediators">{{{aime_t "network.summary.mediators"}}}</a></li>
    <li><a class="to-anchor" id="to-the-network--collaborators" href="#the-network/collaborators">{{{aime_t "network.summary.collaborators"}}}</a></li>
  </ul>
</div>
  <a class="anchor" id="the-network"></a>
  <a class="anchor" id="the-network--team" name="the-network/team"></a>
  <h2>
    {{{aime_t "network.head"}}}
  </h2>
  <h6>
    {{{aime_t "network.headline"}}}
  </h6>
  <div class="part">
    <div class="content">   
      {{#split_each "latour,leclercq,ricci,girard,guido,jacomy,jdlf,plique"}}
        <div class="exagon">
          <div class="first-name">{{t "network.member.%s.firstname" this}}</div>
          <img src="images/{{t "network.member.%s" this}}.jpg">
          <div class="last-name">{{t "network.member.%s.lastname" this}}</div>
        </div>
        <h6><a href="//twitter.com/{{t "network.member.%s.twitter" this}}">@{{t "network.member.%s.twitter" this}}</a></h6>
        <p>
          {{{aime_t "network.member.%s.bio" this}}}
        </p>
      {{/split_each}}
    </div>
  </div>
  
  <div class="middot">&middot;</div>

  <div class="part">
    <a class="anchor" id="the-network--mediators" name="the-network/mediators"></a>
    <div class="content">   
      {{#split_each "cooren,debaise,doueihi,lepinay,marres,boulanger"}}
        <div class="exagon">
          <div class="first-name">{{t "network.member.%s.firstname" this}}</div>
          <img src="images/{{t "network.member.%s" this}}.jpg">
          <div class="last-name">{{t "network.member.%s.lastname" this}}</div>
        </div>
        <h6><a href="//twitter.com/{{t "network.member.%s.twitter" this}}">@{{t "network.member.%s.twitter" this}}</a></h6>
        <p>
          {{{aime_t "network.member.%s.bio" this}}}
        </p>
      {{/split_each}}
    </div>
  </div>

  <div class="middot">&middot;</div>

  <div class="part">
    <a class="anchor" id="the-network--collaborators" name="the-network/collaborators"></a>
    <div class="content">
      {{#split_each "maniglier,linke,wiame,prignot"}}
      <div class="exagon">
        <div class="first-name">{{t "network.member.%s.firstname" this}}</div>
        <img src="images/{{t "network.member.%s" this}}.jpg">
        <div class="last-name">{{t "network.member.%s.lastname" this}}</div>
      </div>
      <h6><a href="//twitter.com/{{t "network.member.%s.twitter" this}}">@{{t "network.member.%s.twitter" this}}</a></h6>
      <p>
        {{{aime_t "network.member.%s.bio" this}}}
      </p>
      {{/split_each}}
    </div>
  </div>
  <div class="middot">&middot;</div>
</section>