
<section>
  <div class="summary">
    <ul>
      {{#split_each "whatdata,ant,scientists,system,entities,power,modes"}}
      <li><a class="to-anchor" id="to-faq--{{this}}" href="#faq/{{this}}">{{t "faq.%s.question.short" this}}</a></li>
      {{/split_each}}
    </ul>
  </div>
  <a class="anchor" id="faq"></a>
  {{#split_each "whatdata,ant,scientists,system,entities,power,modes"}}
    
  <a class="anchor" id="faq--{{this}}" name="faq/{{this}}"></a>
  <div class="part">
    <h2>
      {{t "faq.%s.question" this}}
    </h2>
  
    <div class="middot">
      &middot;
    </div>
    <div class="content">
      <p>
       {{t "faq.%s.question.content" this}}
      </p>
    </div>
  </div>
  {{/split_each}}
</section>