
<section>
  <div class="summary">
    <ul>
      <li><a class="to-anchor" id="to-the-project--i-paragraph" href="#the-project/i-paragraph">{{t "project.summary.i.paragraph" }}</a></li>
      <li><a class="to-anchor" id="to-the-project--ii-paragraph" href="#the-project/ii-paragraph">{{t "project.summary.ii.paragraph" }}</a></li>
      <li><a class="to-anchor" id="to-the-project--iii-paragraph" href="#the-project/iii-paragraph">{{t "project.summary.iii.paragraph" }}</a></li>
      <li><a class="to-anchor" id="to-the-project--iv-paragraph" href="#the-project/iv-paragraph">{{t "project.summary.iv.paragraph" }}</a></li>
      <li><a class="to-anchor" id="to-the-project--v-paragraph" href="#the-project/v-paragraph">{{t "project.summary.v.paragraph" }}</a></li>
      <li><a class="to-anchor" id="to-the-project--vi-paragraph" href="#the-project/vi-paragraph">{{t "project.summary.vi.paragraph" }}</a></li>
    </ul>
  </div>

  <a class="anchor" id="the-project"></a>
  <a class="anchor" id="the-project--i-paragraph" name="the-project/i-paragraph"></a>
  <h2>
    An inquiry for learning <br/>how to compose a common world
  </h2>
  <div class="content sweet-justice">
    <p>
     The inquiry in which you will be able to take part has the aim of providing a more precise definition for the experiences gathered under the vague expression “modernization”. And especially one that is more acceptable to those other civilisations that have also been subject to the same discovery: that there is no Earth where we can modernize “the way we used to”. So we have to think again what we mean by this term while both retaining the inheritance of the modernization project and composing it in a quite new way.
    </p>
    
    <p>
      The inquiry is based on the delicate extraction of a series of “values”—a deliberately outdated term—which the Moderns say they hold dear. But without ever being sure what these values mean, and how they can all be endorsed at the same time while respecting their differences and being wary of their tendency to crush other ones.
    </p>
    <a class="anchor" id="the-project--ii-paragraph" name="the-project/ii-paragraph"></a>
    <p>
      To establish these differences, we have prepared a very simple little protocol that begins with the experience produced when there is a clash between two values. This clash is felt each time one value is judged using the instrumentation coming from another value. We will make a collection of such incidents by creating a database of what we will call “crossings” because they will allow two types of judgement to emerge.
    </p>
    <a class="anchor" id="the-project--iii-paragraph" name="the-project/iii-paragraph"></a>
    <p>
      The practice of gathering such documentation over time begins to produce the impression that it is possible, bit by bit, to distinguish types of incompatible truths. At first this seems, disconcertingly, to lead to full-on “relativism”. Except if one notices that each type of veridiction—the term permits the avoidance of the overloaded word “truth”—is the expression of an encounter with forms of existence that are very different from one another. The inquiry aims to set out the diversity of these different forms. This is why we are really dealing with an anthropology of the Moderns. We want to do for them what they did for other cultures. Except that it was quite difficult to understand the others in the absence of a description of ourselves that was in some small way realistic…
    </p>
    <a class="anchor" id="the-project--iv-paragraph" name="the-project/iv-paragraph"></a>
    <p>
      It is these forms we are calling “modes of existence”, a banal label, but it has a special meaning here. When one speaks normally about the mode of existence of some group or individual, one refers to their customs, their mode of being, their ethology, their habitat in some way, their feeling for a place. In this inquiry, we are keeping all the connotations of the phrase, but we are giving the two terms “mode” and “existence” stronger meanings that don’t direct attention towards human groups or individuals, but towards the beings about which humans are interrogating themselves. The word “being” should not be unsettling: it is another way of replying to the question, “What, for example, is the law, or religion, or science?” “What is important to you?” and “How can I talk about this properly with you?’
    </p>
    <a class="anchor" id="the-project--v-paragraph" name="the-project/v-paragraph"></a>
    <p>
      So far we have identified fifteen of these modes of existence. First, we would like to know if the values we have identified correspond, or not, to readers’ experiences. But then we would like to know if the account we have given of this is acceptable, and if it is not—which is very likely—how we can change it, and on the basis of what documents. Finally, we would like to know if it is possible to propose an alternative to the quite vague term “modernization”.
    </p>
    <a class="anchor" id="the-project--vi-paragraph" name="the-project/vi-paragraph"></a>
    <p>
      So, how will we proceed? By proposing three stages: that of the readers, that of the co-researchers, and that of the negotiators.
    </p>
  </div>
</section>
