  <div id="blog-menu" class="fixed-menu">
    <div class="inner">
      <a hre="/tag/event">{{t "blog.tag.events"}}</a> |
      <a hre="/tag/discuss">{{t "blog.tag.discuss"}}</a> |
      <a hre="/tag/material">{{t "blog.tag.materials"}}</a> |
      <a hre="/tag/tool">{{t "blog.tag.tools"}}</a>
      <br/>
      <a hre="/blog">{{t "blog.tag.all"}}</a>
    </div>
    <div class="shadow"></div>
  </div>