<div id="head">
  <img src="/images/aime-title.svg" alt="An inquiry into modes of existence"/>
</div>

<header class="menu">
  <ul id="navbar">
    <li><a class="to-anchor" href="/#the-project">{{t 'header.project'}}</a></li>
    <li><a class="to-anchor" href="/#the-phases">{{t 'header.phases'}}</a></li>
    <li><a class="to-anchor" href="/#the-blog">{{t 'header.blog'}}</a></li>
    <li><a class="to-anchor" href="/#the-tools">{{t 'header.tools'}}</a></li>
    <li><a class="to-anchor" href="/#the-network">{{t 'header.network'}}</a></li>
    <li><a class="to-anchor" href="/#faq">{{t 'header.faq'}}</a></li>
  </ul>
  <div style="clear:both"></div>
</header>
<!--
<header class="site-header"{{#if @blog.cover}} style="background-image: url('{{@blog.cover}}');"{{/if}}>

	<a href="/" title="Home"><img width="60" height="60" src="{{#if @blog.logo}}{{@blog.logo}}{{else}}/images/logo@2x.png{{/if}}" title="{{@blog.title}}" /></a>
	{{#if @blog.title}}<h1><a href="/" title="{{@blog.title}}">{{@blog.title}}</a></h1>{{/if}}
	{{#if @blog.description}}<h2>{{@blog.description}}</h2>{{/if}}

</header>
-->