{{! The main content area on the homepage }}
  <div class="summary">

    <ul>
    
    </ul>
    {{!! After all the posts, we have the previous/next pagination links }}
{{> pagination}}
  </div>

	{{! Each post will be output using this markup }}
	{{#foreach posts}}
   <section>
      <h2 style="margin-left:40px; margin-right:40px"><a href="{{url}}" title="{{title}}">{{{aime_title}}}</a></h2>
      <h5>{{date published_at format="DD MMMM YYYY"}}</h5>
      <h6>{{#foreach tags}}{{name}}{{/foreach}}</h6>
      <div class="content">
      {{aime_content words=50}}
      </div>
      <a class="read-more" href="{{url}}" title="{{title}}">Read more</a>
    </section>
	{{/foreach}}



